body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #fff;
}

.main {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 10px;
  border: 1px solid #444; /* Darker border */
  border-radius: 5px;
  padding: 10px;
}

.check {
  margin-right: 10px;
}

.content {
  font-size: 16px;
  font-weight: bold;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

p{
  font-size:20px;
  text-align: center;
}