<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/pingResult.css">
    <link rel="shortcut icon" href="/static/favicon.png">
</head>
<title>Home Network Security Analyzer</title>
<body>
    <div class="main">
        <h1>Ping Discovery Results</h1>
        <form action="/">
            <ul class="list">
                <li class="ip">
                    <p>No valid targets found for {{target}}</p>
                </li>
            </ul>
            <input type="submit" value="Return">
        </form>
    </div>
</body>
</html>