<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/osScan.css">
    <script type="text/javascript" src="/static/requireCheck.js"></script>
</head>
<title>Home Network Security Analyzer</title>
<body>
    <div class="main">
        <h1>OS Scan Results</h1>
        <form method="post" action="/vulnCheck">
            <ul class="list">
                {% for host in result%}
                <li class="item">
                    {% if result[host][0] == "OS cound not be identified" %}
                        <input class="checkboxes" type="checkbox" class="check" id="{{host}}" name="{{host}}" value="{{host}}" disabled="disabled" onclick="requireCheck('checkboxes')" required>
                    {% else %}
                        <input class="checkboxes" type="checkbox" class="check" id="{{host}}" name="{{host}}" value="{{host}}" onclick="requireCheck('checkboxes')" required>
                    {% endif %}
                    <label for="{{host}}" class="content">
                        Possible Operating Systems for {{host}}:
                        <ol class="osList" >
                            {% for os in result[host] %}
                                <li class="os">
                                    {{os}}
                                </li>
                            {% endfor %}
                        </ol>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Check for Vulnerabilities">
        </form>
        <br>
        <a href="/"><input type="submit" value="Return to Start"/></a>
    </div>
</body>
</html>