<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/pingResult.css">
    <script type="text/javascript" src="/static/requireCheck.js"></script>
    <link rel="shortcut icon" href="/static/favicon.png">
</head>
<title>Home Network Security Analyzer</title>
<body>
    <div class="main">
        <h1>Devices Found on {{target}}</h1>
        <p>Select devices to gather more information on</p>
        <form method="post" action="/osScan">
            <ul class="list">
                {% for key in result%}
                    <li class="ip">
                        <input class="checkboxes" type="checkbox" class="check" id="{{key}}" name="{{key}}" value="{{key}}" onclick="requireCheck('checkboxes')" required>
                        <label for="{{key}}" class="address">{{result[key]["address"]}}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Start OS Scan">
        </form>
        <br>
        <a href="/"><input type="submit" value="Return to Start"/></a>
    </div>
</body>
</html>